https://www.figma.com/community/file/1405564525582286850/curso-1-html-e-css-ambientes-de-desenvolvimento-estrutura-de-arquivos-e-tags-portfolio

https://www.figma.com/design/Eog9VSBIr8sbPrcyIbJdEf/Curso-1---HTML-e-CSS--ambientes-de-desenvolvimento--estrutura-de-arquivos-e-tags--Portf%C3%B3lio---Community---Copy-?node-id=1-11&t=oMqUONoPpmSV0FiC-0

https://www.figma.com/design/01JoPENe4sAfSEvZvOilya/Curso-3---HTML-e-CSS--cabe%C3%A7alho--footer-e-vari%C3%A1veis-CSS--Portf%C3%B3lio---Community---Copy-?m=auto&fuid=1443683503778511012

https://www.figma.com/design/YkTZI9BRp3Bw1ScAvhzKu3/Curso-4---HTML-e-CSS--trabalhando-com-responsividade-e-publica%C3%A7%C3%A3o-de-projetos--Portf%C3%B3lio---Community---Copy-?m=auto&fuid=1443683503778511012